.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem;
    font-family: "Roboto", serif;
  }
  
  .card {
    text-align: center;
    max-width: 32rem; // max-w-xs = 20rem, nhưng ta giữ 32rem để vừa gọn hơn trên desktop
  }
  
  .logo {
    margin: 0 auto 6rem;
    width: 8rem;
    height: 8rem;
  }
  
  .title {
    font-size: 4rem;
    font-weight: 800;
    color: #4b5563; // text-gray-600
    margin-bottom: 6rem;
    text-transform: lowercase;
  }
  
  .subtitle {
    font-size: 1.4rem;
    color: #374151; // text-gray-700
    margin-bottom: 1rem;
  }
  
  .highlight {
    font-size: 1.2rem;
    color: #dba25a;
    margin-bottom: 8rem;
  }
  
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    text-decoration: underline;
    color: #374151;
    gap: 1rem;
  
    i {
      font-size: 0.9rem;
    }
  }
  