.container {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 4rem;
  font-family: 'Roboto', serif;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.head{
  display: flex;
  gap: 20px;
}

.card {
  text-align: center;
}

.logo {
  margin: 0 auto 6rem;
  width: 8rem;
  height: 8rem;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  color: #4b5563; // text-gray-600
  margin-bottom: 6rem;
  text-transform: lowercase;
}

.subtitle {
  font-size: 2.6rem;
  color: #374151; // text-gray-700
  margin-bottom: 1rem;
}

.highlight {
  font-size: 1.8rem;
  color: #dba25a;
  margin-bottom: 8rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  text-decoration: underline;
  color: #374151;
  gap: 1rem;

  i {
    font-size: 1.3rem;
  }
}
