.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 10px;
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.title {
  font-size: 4rem; /* 24px */
  font-weight: normal;
  margin-bottom: 0.8rem; /* 8px */
  margin-bottom: 50px;
}

.text {
  font-size: 3.2rem; /* 18px */
  font-weight: 300;
  color: #1a202c; /* Gray-900 */
  margin-bottom: 35px; /* 12px */
}

.img {
  width: 80px; /* 64px */
  height: 80px; /* 64px */
  border-radius: 50%;
  margin-bottom: 0.4rem; /* 4px */
}

.name {
  font-size: 2.6rem; /* 16px */
  font-weight: normal;
  margin-bottom: 0.1rem; /* 1px */
}

.role {
  font-size: 1.8rem; /* 13px */
  font-weight: 300;
  color: #6b7280; /* Gray-500 */
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 0.2rem; /* 2px */
  margin-top: 1.2rem; /* 12px */
}

.indicator-active {
  width: 0.25rem; /* 2.5px */
  height: 0.25rem; /* 2.5px */
  border-radius: 50%;
  background-color: #d4b96a;
}

.indicator-inactive {
  width: 0.25rem; /* 2.5px */
  height: 0.25rem; /* 2.5px */
  border-radius: 50%;
  background-color: #d1d5db; /* Gray-300 */
}
